h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
}
body #root{
    height: 100%;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 972px;
    margin: 0 auto;
}