.menu {
    display: flex;
    
    &__item {    
        position: relative;
        width: 110px;
        padding: 5px 7px;
        text-align: center;
        
        font-size: 16px;
        cursor: pointer;

        &:after {
            display: block;
            position: absolute;
            top: -20px;
            left: 0;
            content: "";
            width: 108px;
            height: 62px;
            transform: skewX(-15deg);
            transition: all .1s ease-out;
        }

        &:hover {
            font-weight: 600;
            &:after {
                border: 2px solid #373737;
            }
        }

        &:active {
            border-bottom: 0;
        }
    }
}