.menu {
    display: flex;
    
    &__item {    
        width: 80px;
        margin-right: 40px;
        padding: 5px 7px;
        text-align: center;
        transition: all .1s ease-out;

        font-size: 16px;

        &:hover {
            border-bottom: 2px solid #373737;
            padding-bottom: 3px;
        }

        &:active {
            border-bottom: 0;
        }
    }
}