.card-page {
    display: flex;
    flex-direction: column;
}

.container-card-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media(min-width: 1200px) {
    .container-card-page {
        width: 972px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .container-card-page {
        width: 730px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .container-card-page {
        width: 490px
    }
}

@media (max-width: 575px) {
    .container-card-page {
        width: 250px
    }
}
