.container-card {
    text-align: center;
    margin: 10px;
    perspective: 1200px;
    transform-style: preserve-3d;
    transition: .7s linear;

    &:hover {
        transform: rotateY(180deg);
    }
}

.card {
    position: relative;
    width: 100%;
    height: 360px;
    transform-style: preserve-3d;
    transition: .7s linear;

    &__front, &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border: 1px solid #000;

        img {
            width: 100%;
        }
    }

    &__front {
        z-index: 2;
        transform: rotateY(0deg);
        border: 1px solid #000;
    }
    
    &__back {
        transform: rotateY(-180deg);
        border: 1px solid #000;
    }
}

@media(min-width: 1200px) {
    .container-card {
        width: calc(25% - 20px);
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .container-card {
        width: calc(33.333% - 20px);
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .container-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 575px) {
    .container-card {
        width: calc(100% - 20px);
    }
}
