.header {
    width: 100%;
    background: #fff;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    padding: 20px 0;
    margin-bottom: 30px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}